mat-card{
  opacity: 0.96;
  min-width: 500px;
  max-height: 570px;
}

mat-card-title{
  padding-top: 15px;
  padding-bottom: 15px;
}

mat-card-subtitle{
  margin-bottom: 20px;
}

mat-divider{
  margin-left: 20px;
  max-width: 480px;
}

.btn-block{
  top: 30px;
  left: 25px;
}

.mat-raised-button{
  top: 30px;
  left: 340px;
}
