<p>
  <mat-toolbar color="primary">
    <a routerLink="/" class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="../../../assets/logo.png" alt="logo">
    </a>
    <a routerLink="/event" style="color:white; text-decoration: none;"><span>My events</span></a>
    <div class="lang-menu">
      <div class="selected-lang">
        English
      </div>
      <ul>
        <li>
          <a href="" class="es">Español</a>
        </li>
        <li>
          <a href="" class="en">English</a>
        </li>
        <li>
          <a href="" class="cat">Català</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</p>
