<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'side' : 'over'"
               [opened]="(isHandset$ | async) === true">
    <mat-toolbar>
      <span class="spacer-for-right"></span>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon id="west">west</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div class="profile" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img class="circle" *ngIf="storageService?.getCurrentUser()?.username === 'Alex'"
               src="https://cdn.discordapp.com/attachments/702541508309680200/779053853088940072/22.jpeg" alt="logo">
          <img class="circle" *ngIf="storageService?.getCurrentUser()?.username === 'Silverio'"
               src="https://futur.upc.edu/imatges/items/10108403_5d3-6128-small-rectangle-120.png" alt="logo">
        </div>
        <div class="username">
          <span style="color:white">{{storageService?.getCurrentUser()?.username}}</span>
        </div>
      </div>
      <a class="section" mat-list-item href="#">
        <mat-icon class="menuA">keyboard_arrow_right</mat-icon>
        {{'Home.Self' | translate}}
      </a>
      <a class="section" mat-list-item routerLink="/event" (click)="sidenav.toggle()">
        <mat-icon class="menuA">keyboard_arrow_right</mat-icon>
        {{'Event.Mine' | translate}}
      </a>
      <a class="section" mat-list-item routerLink="/room" (click)="sidenav.toggle()">
        <mat-icon class="menuA">keyboard_arrow_right</mat-icon>
        {{'Room.Mine' | translate}}
      </a>
      <a class="section" mat-list-item routerLink="/application-form" (click)="sidenav.toggle()">
        <mat-icon class="menuA">keyboard_arrow_right</mat-icon>
        {{'Contact' | translate}}
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="storageService.isAuthenticated()" mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <a routerLink="/">
        <img id="homeIcon" src="assets/logo.png" alt="logo">
      </a>

      <span class="spacer-for-right"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="translate">
          <mat-icon style="color:#322d2d">translate</mat-icon>
          <span>{{'Header.Translate' | translate}}</span>
        </button>
      </mat-menu>
      <mat-menu #translate="matMenu">
        <button mat-menu-item (click)="useLanguage('en')">{{'Lang.En' | translate}}</button>
        <button mat-menu-item (click)="useLanguage('es')">{{'Lang.Es' | translate}}</button>
        <button mat-menu-item (click)="useLanguage('cat')">{{'Lang.Cat' | translate}}</button>
      </mat-menu>

      <button *ngIf="!storageService.isAuthenticated()" mat-button routerLink="login" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        {{'Header.Login' | translate}}
      </button>

      <label *ngIf="storageService.isAuthenticated()">
        {{'Header.Welcome' | translate}}{{storageService?.getCurrentUser()?.username}}
      </label>

      <button *ngIf="storageService.isAuthenticated()" mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        {{'Header.Logout' | translate}}
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
