<section fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>
      {{'Header.Login' | translate}}
    </mat-card-title>

    <form [formGroup]="formLogin" autocomplete="off" novalidate fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">

      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>{{'Login.Username' | translate}}</mat-label>
          <label for="Username"></label>
          <input matInput type="text" id="Username" formControlName="username">
          <mat-error *ngIf="hasError('username', 'required')">
            {{'Login.Username' | translate}}{{'Error.Req' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'Login.Password' | translate}}</mat-label>
          <label for="Password"></label>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <input matInput [type]="hide ? 'password' : 'text'" id="Password" formControlName="password">
          <mat-error *ngIf="hasError('password', 'required')">
            {{'Login.Password' | translate}}{{'Error.Req' | translate}}
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="accent" class="btn-block" [disabled]="!formLogin.valid" (click)="onSubmit(formLogin.value)">
          {{'Header.Login' | translate}}
        </button>
      </mat-card-actions>
    </form>

    <mat-card-subtitle fxLayoutAlign="center center">
      <a routerLink="/application-form" mat-button color="primary">{{'Login.Contact' | translate}}</a>
    </mat-card-subtitle>

  </mat-card>
</section>
