<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>
      Log in
    </mat-card-title>

    <form autocomplete="off" novalidate fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">

      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <label for="Username"></label>
          <input matInput type="text" placeholder="Username" id="Username">
          <mat-error *ngIf="hasError('username', 'required')">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <label for="Password"></label>
          <input matInput type="password" placeholder="Password" id="Password">
          <mat-error *ngIf="hasError('password', 'required')">Name is required</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
