<section fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>
      Application Form
    </mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">
      Write an application to be verified in SecurEvent
    </mat-card-subtitle>

    <form [formGroup]="applicationForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(applicationForm.value)" fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">

      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Your name</mat-label>
          <label for="Name"></label>
          <input matInput type="text" placeholder="Name" id="Name" formControlName="name">
          <mat-error *ngIf="hasError('name', 'required')">Your name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Your company's name</mat-label>
          <label for="Company"></label>
          <input matInput type="text" placeholder="Company" id="Company" formControlName="company">
          <mat-error *ngIf="hasError('company', 'required')">Your company's name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Your email</mat-label>
          <label for="Email"></label>
          <input matInput type="email" placeholder="Email" id="Email" formControlName="email">
          <mat-error *ngIf="hasError('email', 'required')">Your email is required</mat-error>
          <mat-error *ngIf="hasError('email', 'email')">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Your telephone number</mat-label>
          <label for="Phone"></label>
          <input matInput type="tel" placeholder="Telephone number" id="Phone" formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Why do your company want to use SecurEvent?</mat-label>
          <label for="Description"></label>
          <textarea matInput placeholder="Ex. I want to use SecurEvent for..." id="Description" formControlName="description"></textarea>
          <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="accent" class="btn-block" [disabled]="!applicationForm.valid" (click)="openDialog()">Send email</button>
      </mat-card-actions>
    </form>

  </mat-card>
</section>
