<section fxLayoutAlign="center start" class="my-main-page-module">
  <mat-card>
    <div *ngIf="event">

      <mat-card-header fxLayoutAlign="center">
        <mat-card-title> {{event.name | uppercase}}</mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center center">{{'Details' | translate}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image fxLayoutAlign="center center"
           src="https://blogs.upc.edu.pe/sites/default/files/upc/blogs/lista_blogs/upc_alumni/blog_post/2017/junio/blogpost_imagen_principal/o9b9108.jpg"
           alt="image">

      <mat-card-content fxLayout="column" fxLayoutAlign="center start">
        <mat-list>

          <mat-list-item>{{'Event.Name' | translate}}: {{event.name}}</mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>
            {{'Room.Self' | translate}}: <a style="margin-left: 5px"
                                            href="/room/{{event.id_room}}/details">{{event.id_room.split('_')[0]}}</a>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>{{'Event.Date' | translate}}: {{event.date}}</mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>{{'Event.StartAt' | translate}}: {{event.hourIni}}</mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>{{'Event.EndAt' | translate}}: {{event.hourEnd}}</mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>{{'Event.PriceRange' | translate}}: {{event.minPrice}} - {{event.maxPrice}}</mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>{{'Seats.Occupation' | translate }}:&nbsp;
            <a href="/event/{{event._id}}/status">
              {{occupation}}/{{capacity}}
            </a>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>{{'Measures' | translate}}:
            {{event.measures[0] | translate }}, {{event.measures[1] | translate }}, {{event.measures[2] | translate }}
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>Ratings: {{event.ratings}}</mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item>{{'Link' | translate}}: <a href="{{event.link}}">{{event.link}}</a></mat-list-item>
          <mat-divider></mat-divider>

        </mat-list>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="accent" class="btn-block"
                routerLink="/event"> {{'Back' | translate}} </button>
        <button mat-stroked-button color="primary" class="mat-raised-button"
                routerLink="/event/{{event._id}}/update"> {{'Edit' | translate}} </button>
      </mat-card-actions>

    </div>
  </mat-card>
</section>
