<section fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>
      {{ titleForm }}
    </mat-card-title>

    <form [formGroup]="formEvent" autocomplete="off" novalidate (ngSubmit)="onSubmit(formEvent.value)" fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field appearance="fill">
          <mat-label for="name">Name of the event</mat-label>
          <label for="name"></label><input matInput type="text" placeholder="Name of the event" formControlName="name" id="name">
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <label>
            <input matInput [matDatepicker]="picker" formControlName="date">
          </label>
          <mat-error *ngIf="hasError('date', 'required')">Date is required</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>



        <mat-form-field appearance="fill">
          <mat-label>Starts at</mat-label>
          <label for="hourIni"></label><input matInput type="time" placeholder="Starts at" formControlName="hourIni" id="hourIni">

          <mat-error *ngIf="hasError('hourIni', 'required')">Start is required</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Finishes at</mat-label>
          <label for="hourEnd"></label><input matInput type="time" placeholder="Finishes at" formControlName="hourEnd" id="hourEnd">
          <mat-error *ngIf="hasError('hourEnd', 'required')">Finish is required</mat-error>
        </mat-form-field>

        <div>
          <mat-label>Price Range</mat-label>
          <br>
          <mat-form-field appearance="fill" class="form-40-input">
            <mat-label>Minimum</mat-label>
            <label for="minPrice"></label><input matInput type="number" placeholder="Min" formControlName="minPrice" id="minPrice">
            <mat-error *ngIf="hasError('minPrice', 'required')">Minimum price is required</mat-error>

          </mat-form-field>
          <span class="span-separator-between-inputs"></span>
          <mat-form-field appearance="fill" class="form-40-input">
            <mat-label>Maximum</mat-label>
            <label for="maxPrice"></label><input matInput type="number" placeholder="Max" formControlName="maxPrice" id="maxPrice" [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="hasError('maxPrice', 'required')">Maximum price is required</mat-error>
            <mat-error *ngIf="formEvent.hasError('range')">Invalid range</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Measures</mat-label>
          <label for="measures"></label><input matInput type="text" placeholder="Measures" formControlName="measures" id="measures">
          <mat-error *ngIf="hasError('measures', 'required')">Measures is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Link</mat-label>
          <label for="link"></label><input matInput type="text" placeholder="Link" formControlName="link" id="link">
          <mat-error *ngIf="hasError('link', 'required')">Link is required</mat-error>
        </mat-form-field>
      </mat-card-content>




      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!formEvent.valid">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
