<section fxLayout="row wrap" fxLayoutAlign="center" class="my-main-page-module">
  <mat-card fxFlex="530px" fxFlex.xs="100%">
    <mat-card-title>
      {{ titleForm | translate}}
    </mat-card-title>

    <form [formGroup]="formEvent" autocomplete="off" novalidate (ngSubmit)="onSubmit(formEvent.value)" fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field appearance="fill">
          <mat-label for="name">{{'Event.Name' | translate}}</mat-label>
          <label for="name"></label><input matInput type="text" placeholder="{{'Event.Name' | translate}}" formControlName="name" id="name">
          <mat-hint align="end">{{'Error.MoreThan60Char' | translate}}.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">
            {{'Event.Name' | translate}}{{'Error.Req' | translate}}
          </mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">{{'Error.MoreThan60Char' | translate}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>{{'Event.Date' | translate}}</mat-label>
          <label>
            <input matInput [matDatepicker]="picker" formControlName="date">
          </label>
          <mat-error *ngIf="hasError('date', 'required')">
            {{'Event.Date' | translate}}{{'Error.Req' | translate}}
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>



        <mat-form-field appearance="fill">
          <mat-label>{{'Event.StartAt' | translate}}</mat-label>
          <label for="hourIni"></label><input matInput type="time" placeholder="Starts at" formControlName="hourIni" id="hourIni">

          <mat-error *ngIf="hasError('hourIni', 'required')">
            {{'Error.Required' | translate}}
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>{{'Event.EndAt' | translate}}</mat-label>
          <label for="hourEnd"></label><input matInput type="time" placeholder="Finishes at" formControlName="hourEnd" id="hourEnd">
          <mat-error *ngIf="hasError('hourEnd', 'required')">
            {{'Error.Required' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select the room</mat-label>
          <mat-select>
            <mat-option *ngFor="let r of rooms" [value]="r.name">
              {{r.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <div><mat-label>{{'Event.PriceRange' | translate}} :</mat-label></div>
          <br>
          <mat-form-field appearance="fill" class="form-40-input">
            <mat-label>{{'Event.Minimum' | translate}}</mat-label>
            <label for="minPrice"></label><input matInput type="number" placeholder="Min" formControlName="minPrice" id="minPrice">
            <mat-error *ngIf="hasError('minPrice', 'required')">
              {{'Error.Required' | translate}}
            </mat-error>

          </mat-form-field>
          <span class="span-separator-between-inputs"></span>
          <mat-form-field appearance="fill" class="form-40-input">
            <mat-label>{{'Event.Maximum' | translate}}</mat-label>
            <label for="maxPrice"></label><input matInput type="number" placeholder="Max" formControlName="maxPrice" id="maxPrice" [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="hasError('maxPrice', 'required')">
              {{'Error.Required' | translate}}
            </mat-error>
            <mat-error *ngIf="formEvent.hasError('range')">{{'Error.InvalidRange' | translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="margin-bottom"><mat-label>{{'Measures' | translate}}</mat-label></div>
        <div *ngFor="let m of measures" class="margin-bottom">
          <label>
            <input type="checkbox" [value]="m.name" (change)="onCheckChange($event)" [checked]="isChecked">
            {{m.name}}
          </label>
        </div>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>{{'Event.Link' | translate}}</mat-label>
          <label for="link"></label><input matInput type="text" formControlName="link" id="link">
          <mat-error *ngIf="hasError('link', 'required')">
            {{'Event.Link' | translate}}{{'Error.Req' | translate}}
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="accent" class="btn-block" routerLink="/event" > {{'Back' | translate}} </button>
        <button mat-raised-button color="primary" [disabled]="!formEvent.valid">{{'Save' | translate}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
