mat-card{
  opacity: 0.95;
  min-width: 500px;
  /*min-height: 800px;*/
}

mat-card-title{
  padding-top: 15px;
  padding-bottom: 15px;
}

mat-card-subtitle{
  margin-bottom: 20px;
}

mat-list-item{
  max-width: 450px;
}

mat-divider{
  margin-left: 20px;
  max-width: 480px;
}

img{
  max-width: 450px;
  margin-left: 20px;
}

.btn-block{
  margin-top: 30px;
  left: 20px;
}

.mat-raised-button{
  margin-top: 30px;
  left: 346px;
}
