<section fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card fxFlex="530px" fxFlex.xs="100%">
        <div *ngIf="event">
            <mat-list>
                <mat-card-title fxLayoutAlign="center center">{{event.name | uppercase}}</mat-card-title>
                <mat-card-subtitle fxLayoutAlign="center center">{{'Details' | translate}}</mat-card-subtitle>

                <mat-divider></mat-divider>

                <mat-list-item>{{'Event.Name' | translate}}: {{event.name}}</mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>{{'Event.Date' | translate}}: {{event.date}}</mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>{{'Event.StartAt' | translate}}: {{event.hourIni}}</mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>{{'Event.EndAt' | translate}}: {{event.hourEnd}}</mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>{{'Event.PriceRange' | translate}}: {{event.minPrice}} - {{event.maxPrice}}</mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>{{'Measures' | translate}}: {{event.measures}}</mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>Ratings: {{event.ratings}}</mat-list-item>
                <mat-divider></mat-divider>

              <mat-list-item>{{'Link' | translate}}: <a href="{{event.link}}">{{event.link}}</a></mat-list-item>

            </mat-list>
        </div>
    </mat-card>
</section>
