/* margin and padding values are reset for all these elements
 * you could remove from there elements you do not used in your documents, but I don't think it'd worth it
 */
body {
  margin: 0;
  padding: 0;
}

mat-form-field{
  width: 450px;
  margin-bottom: 20px;
}
mat-card-title{
  text-align: center;
}

mat-card {
  margin: 50px;
}


table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.form-40-input {
  width: 40%;
}

.span-separator-between-inputs {
  padding-left: 10px;
  padding-right: 10px;
}
.my-main-page-module {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("https://media.discordapp.net/attachments/766384289121697803/796917154191638558/unknown.png?width=1202&height=676");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
}


.my-table-page-module {
  background: white;
  margin: 60px;
  border: groove #ffffff;
  border-radius: 10px;
  padding: 40px;
  opacity: 0.95;
}

#my-title-page-module {
  padding-top: 40px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}

#my-table-page-module-data-source th {
  font-size: 14px;
  font-weight: bold;
}

mat-paginator {
  margin-top: 30px;
}
