<div fxLayoutAlign="center start" class="my-main-page-module">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title>{{event.name | uppercase}}</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center center">{{'Seats.Stats' | translate}}</mat-card-subtitle>
      <mat-card-subtitle fxLayoutAlign="center center">{{'Room.Self' | translate}}:
        <a style="margin-left: 5px"
           href="javascript:void(0)"
           (click)="redirectToRoomSelf(event.id_room)">{{auxRoomName}}</a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="groups">
        <canvas baseChart
                [datasets]="dataGroups"
                [labels]="labelsGroup"
                [options]="options"
                [colors]="colorsGroup"
                [legend]="legendGroup"
                chartType="bar"
                [plugins]="pluginGroup">
        </canvas>
      </div>

      <div class="capacity">
        <canvas baseChart
                [datasets]="dataCapacity"
                [labels]="labelsCapacity"
                [colors]="colorsCapacity"
                [legend]="legendCapacity"
                chartType="pie"
                [plugins]="pluginCapacity">
        </canvas>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" class="btn-block"
              routerLink="/event"> {{'Back' | translate}} </button>
    </mat-card-actions>
  </mat-card>
</div>
